root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.java]
indent_style = space
indent_size = 2
continuation_indent_size = 8

[*.{gradle, yml, sh}]
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf
